%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [pc]}.

{artifacts, ["priv/yajler_nif.so"]}.

{port_specs, [{"priv/yajler_nif.so", ["c_src/*.c"]}]}.

{port_env, [
    {"darwin", "CFLAGS", "$CFLAGS -fPIC -I/opt/homebrew/include"},
    {"darwin", "LDFLAGS", "$LDFLAGS -L/opt/homebrew/lib -lyajl"},
    {"linux", "CFLAGS", "$CFLAGS -fPIC -I/usr/local/include"},
    {"linux", "LDFLAGS", "$LDFLAGS -lyajl -L/usr/local/lib"}
]}.

{provider_hooks, [
    {pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
]}.